<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="habitacionForm(titulo)" class="container border border-2 2-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>

            <label class="col-form-label">ID</label>
            <input type="text" class="form-control" id="id" name="id" required th:value="${habitacion.id}"/>
            <br>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="disponible" name="disponible" th:checked="${habitacion.disponible}"/>
                <label class="form-check-label" for="disponible">Disponible</label>
            </div>
            
            <label class="col-form-label" for="hotel">Hotel</label>
            <select class="form-control" id="hotel" name="hotelId" required>
                <th:block th:each="hotel : ${hoteles}">
                    <option th:value="${hotel.id}" th:text="${hotel.nombre}" th:selected="${habitacion != null && habitacion.hotel != null && habitacion.hotel.id == hotel.id}"></option>
                </th:block>
            </select>
            
            <label class="col-form-label" for="tipoHabitacion">Tipo de habitacion</label>
            <select class="form-control" id="tipoHabitacion" name="tipoHabitacionId" required>
                <th:block th:each="tipoHabitacion : ${tiposHabitaciones}">
                    <option th:value="${tipoHabitacion.id}" th:text="${tipoHabitacion.nombre}" th:selected="${habitacion != null && habitacion.tipoHabitacion != null && habitacion.tipoHabitacion.id == tipoHabitacion.id}"></option>
                </th:block>
            </select>            

            <div class="text-center">
                <input type="submit" value="Guardar" class="btn btn-primary">
                <a th:href="@{/habitaciones}" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>