<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Plan Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="productoPlanForm(titulo, crear)" class="container border border-2 2-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>

            <label class="col-form-label">Plan</label>
            <input type="number" class="form-control" id="pk.plan_id" name="pk.plan_id" required th:value="${planId}" th:readonly="true"/>
            
            <label class="col-form-label" for="producto">Producto</label>
            <select class="form-control" id="pk.producto_id" name="pk.producto_id" required th:disabled="${!crear}">
                <th:block th:each="producto : ${productos}">
                    <option th:value="${producto.id}" th:text="${producto.nombre}" th:selected="${producto.id == productoDado.id}"></option>
                </th:block>
            </select>
            
            <label class="col-form-label">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" required th:value="${productoPlan.cantidad}"/>

            <label class="col-form-label">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" required th:value="${productoPlan.descripcion}"/>

            <div class="text-center">
                <a th:href="@{/planes/{planId}/productos(planId=${planId})}" class="btn btn-primary">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>
