<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio Plan Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="servicioPlanForm(titulo, crear)" class="container border border-2 2-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>

            <label class="col-form-label">Plan</label>
            <input type="number" class="form-control" id="pk.plan_id" name="pk.plan_id" required th:value="${planId}" th:readonly="true"/>
            
            <label class="col-form-label" for="servicio">Servicio</label>
            <select class="form-control" id="pk.servicioBasico_id" name="pk.servicioBasico_id" required th:disabled="${!crear}">
                <th:block th:each="servicio : ${serviciosBasicos}">
                    <option th:value="${servicio.id}" th:text="${servicio.nombre}" th:selected="${servicio.id == servicioDado.id}"></option>
                </th:block>
            </select>

            <label class="col-form-label">Descuento en el Servicio</label>
            <input type="number" class="form-control" id="descuento" name="descuento" required th:value="${servicioPlan.descuento}"/>

            <div class="text-center">
                <a th:href="@{/planes/{planId}/servicios(planId=${planId})}" class="btn btn-primary">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>
</html>
