<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="usuarioForm(titulo)" class="container border border-2 2-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            <label class="col-form-label">Documento</label>
            <input type="number" class="form-control" id="documento" name="documento" required th:value="${usuario.documento}"/>
            <label class="col-form-label">Tipo de Documento</label>
            <input type="text" class="form-control" id="tipoDocumento" name="tipoDocumento" required th:value="${usuario.tipoDocumento}"/>
            <label class="col-form-label">Correo Electronico</label>
            <input type="text" class="form-control" id="correoElectronico" name="correoElectronico" required th:value="${usuario.correoElectronico}"/>
            <label class="col-form-label">Nombre Completo</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required th:value="${usuario.nombre}"/>
            
            <label class="col-form-label" for="hotel">Hotel</label>
            <select class="form-control" id="hotel" name="hotel_id" required>
                <th:block th:each="hotel : ${hoteles}">
                    <option th:value="${hotel.id}" th:text="${hotel.nombre}" th:selected="${usuario != null && usuario.hotel_id != null && usuario.hotel_id.id == hotel.id}"></option>
                </th:block>
            </select>
            
            <label class="col-form-label" for="tipoUsuario">Tipo de Usuario</label>
            <select class="form-control" id="tipoUsuario" name="tipoUsuario_id" required>
                <th:block th:each="tipoUsuario : ${tiposUsuarios}">
                    <option th:value="${tipoUsuario.id}" th:text="${tipoUsuario.nombre}" th:selected="${usuario != null && usuario.tipoUsuario_id != null && usuario.tipoUsuario_id.id == tipoUsuario.id}"></option>
                </th:block>
            </select>            
                        
            <div class="text-center">
                <input type="submit" value="Guardar" class="btn btn-primary">
                <a th:href="@{/usuarios}" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>