<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel de los Andes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .boton-ancho {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .mitad-mitad {
            width: 50%;
            padding: 0;
            margin: 0;
        }
        .center-text {
            text-align: center;  
        }
        .centered-div {
            width: 300px; 
            margin-left: auto; 
            margin-right: auto; 
            padding: 20px; 
        }
    </style>
    </style>
</head>
<body>
    <div class ="container">
        <div class="container text-center">
            <h1>Hotel De Los Andes</h1>
            <img class="w-25" th:src="@{/images/logo.png}" alt="Logo" width="250"/>
        </div>
        <div>
            <a th:href="@{/habitaciones}" class="boton-ancho btn btn-primary">Habitaciones</a>
            <br>
            <a th:href="@{/tiposHabitaciones}" class="boton-ancho btn btn-primary">Tipos de Habitaciones</a>
            <br>
            <a th:href="@{/servicios-basicos}" class="boton-ancho btn btn-primary">Servicios</a>
            <br>
            <a th:href="@{/reservas}" class="boton-ancho btn btn-primary">Reservas</a>
            <br>
        </div>
    </div>
</body>
</html>