<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Piscinas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .boton-container {
           display: flex;
           justify-content: space-between;
           width: 100%;
        }
    
        button {
           flex: 1; 
           padding: 10px; 
        }
    </style>

</head>
<body>
    <div>
        <h1>Lista de Piscinas</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Profundidad (CM)</th>
                    <th>Costo</th>
                    <th>Hora Apertura</th>
                    <th>Hora Cierre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tr th:each="piscina : ${piscinas}">
                <td th:text="${piscina.pk.id.id}"></td>
                <td th:text="${piscina.pk.id.nombre}"></td>
                <td th:text="${piscina.pk.id.capacidad}"></td>
                <td th:text="${piscina.profundidad}"></td>
                <td th:text="${piscina.pk.id.costo}"></td>
                <td th:text="${piscina.pk.id.horaApertura}"></td>
                <td th:text="${piscina.pk.id.horaCierre}"></td>
                <td>
                    <a th:href="@{/servicios-basicos/piscinas/{id}/edit(id=${piscina.pk.id.id})}">Editar</a>
                    <a th:href="@{/servicios-basicos/piscinas/} + ${piscina.pk.id.id} + '/delete'" 
                       onclick="return confirm('¿Estás seguro de querer eliminar esta piscina?')">Eliminar
                    </a>
                </td>
            </tr>
        </table>
        <div class="boton-container">
            <a th:href="@{/servicios-basicos}" class="btn btn-primary">Volver a la lista de Servicios Basicos</a>
            <a th:href="@{/servicios-basicos/piscinas/new}" class="btn btn-primary">Crear nueva Piscina</a>
        </div>
    </div>
</body>
</html>
