<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear piscina</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form action="#" th:action="@{/servicios-basicos/piscinas/new/save}" method="post">
        <div th:replace="~{fragments/piscinaForm :: piscinaForm(titulo='Crear piscina', crear=true)}"></div>      
    </form>
</body>
</html>