<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Menú de ' + ${restauranteBar.pk.id.nombre}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .boton-container {
           display: flex;
           justify-content: space-between;
           width: 100%;
        }
    
        button {
           flex: 1; 
           padding: 10px; 
        }
    </style>

</head>
<body>
    <div>
        <h1>Menú de <span th:text="${restauranteBar.pk.id.nombre}"></span></h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID Producto</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tr th:each="platoRestauranteBar : ${menu}">
                <td th:text="${platoRestauranteBar.pk.Plato_id.pk.id.id}"></td>
                <td th:text="${platoRestauranteBar.pk.Plato_id.pk.id.nombre}"></td>
                <td th:text="${platoRestauranteBar.pk.Plato_id.descripcion}"></td>
                <td th:text="${platoRestauranteBar.pk.Plato_id.pk.id.precio}"></td>                     
            </tr>
        </table>
        <div class="boton-container">
            <a th:href="@{/servicios-basicos/restaurantes-bares}" class="btn btn-primary">Volver a la lista de Restaurantes y Bares</a>
        </div>
    </div>
</body>
</html>
