<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Salas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Salas</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Tipo</th>
                    <th>Costo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tr th:each="sala : ${salas}">
                <td th:text="${sala.pk.id.id}"></td>
                <td th:text="${sala.pk.id.nombre}"></td>
                <td th:text="${sala.pk.id.capacidad}"></td>
                <td th:text="${sala.tipo}"></td>
                <td th:text="${sala.costo}"></td>
                <td>
                    <a th:href="@{/servicios-basicos/salas/{id}/edit(id=${sala.pk.id.id})}">Editar</a>
                    <a th:href="@{/salas/} + ${sala.pk.id.id} + '/delete'" 
                       onclick="return confirm('¿Estás seguro de querer eliminar esta sala?')">Eliminar
                    </a>
                </td>
            </tr>
        </table>
        <div class="container mx-auto w-25">
            <a th:href="@{/servicios-basicos/salas/new}" class="btn btn-primary">Crear una nueva Sala</a>
            <a th:href="@{/servicios-basicos}" class="btn btn-primary">Volver a la lista de Servicios Basicos</a>
        </div>
    </div>
</body>
</html>
