<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Servicio Basico</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form action="#" th:action="@{/servicios-basicos/new/save}" method="post">
        <div th:replace="~{fragments/servicioBasicoForm :: servicioBasicoForm(titulo='Crear Servicio Basico', crear=true)}"></div>      
    </form>
</body>
</html>