<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Servicio Plan</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form action="#" th:action="@{/planes/{planId}/servicios/new/save(planId=${planId})}" th:object="${servicioPlan}" method="post">
        <div th:replace="~{fragments/servicioPlanForm :: servicioPlanForm(titulo='Nuevo servicio', crear=true)}"></div>      
    </form>
</body>
</html>