<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Básicos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .boton-ancho {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .boton-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }            
        btton {
            flex: 6;
            padding: 10px; 
        }            
        .uniform-div{
            width: auto;
            margin-left: auto; 
            margin-right: auto; 
            border: 1px solid #ccc; 
            padding: 20px; 
        }
   </style>
</head>
<body>
    <div>
        <div class="uniform-div">
            <h1>Consultar servicios Populares en el ultimo año</h1>
            <form method="GET" th:action="@{/servicios-basicos/consumos}">
                <label class="col-form-label" for="fecha_menor"> <h6>Fecha Menor (YYYY-MM-DD): </h6></label>
                <input placeholder="Fecha Inicial" type="text" id="fecha_menor" name="fecha_menor" pattern="\d{4}-\d{2}-\d{2}" title="Formato válido: YYYY-MM-DD" required>
                <br>
                <br>
                <label class="col-form-label" for="fecha_mayor"> <h6>Fecha Mayor (YYYY-MM-DD): </h6></label>
                <input placeholder="Fecha Final" type="text" id="fecha_mayor" name="fecha_mayor" pattern="\d{4}-\d{2}-\d{2}" title="Formato válido: YYYY-MM-DD" required>
                
                <br>
                <br>
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>

        <div class="uniform-div">
            <h1>Filtrar Servicios</h1>
            <form method="GET" th:action="@{/servicios-basicos/filtros}">
                <label class="col-form-label" for="nombre"> <h6>Nombre</h6></label>
                <input placeholder="Nombre" type="text" id="nombre" name="nombre" title="Nombre" >

                <br>
                <label class="col-form-label" for="precioPiso"> <h6>Precio Minimo </h6></label>
                <input placeholder="Precio Menor" type="number" id="precioPiso" name="precioPiso" title="Numero entero" >
                 
                <label class="col-form-label" for="precioTecho"> <h6>Precio Maximo </h6></label>
                <input placeholder="Precio Mayor" type="number" id="precioTecho" name="precioTecho" title="Numero Entero" >

                <br>
                <label class="col-form-label" for="horaApertura"> <h6>Hora Apertura </h6></label>
                <input placeholder="HH:MM" type="text" id="fecha_menor" name="fecha_menor" pattern="\h{2}-\m{2}" title="Formato válido: HH:MM" >

                <label class="col-form-label" for="horaCierre"> <h6>Hora Cierre </h6></label>
                <input placeholder="Fecha Final" type="text" id="fecha_mayor" name="fecha_mayor" pattern="\h{2}-\m{2}" title="Formato válido: HH:MM" >

                <br>
                <label class="col-form-label" for="id"> <h6>ID</h6></label>
                <input placeholder="Numero entre 1 y 50000" type="number" id="id" name="id" title="Numero entero" > 
                <label>(Consulta por intervalo tiene prioridad)</label>
                 
                <br>
                <label class="col-form-label" for="idMenor"> <h6>ID menor</h6></label>
                <input placeholder="Numero entre 1 y 50000" type="number" id="idMenor" name="idMenor" title="Numero entero" >

                <label class="col-form-label" for="idMayor"> <h6>ID mayor</h6></label>
                <input placeholder="Numero entre 1 y 50000" type="number" id="idMayor" name="idMayor" title="Numero entero"  >

                <br>
                <label class="col-form-label" for="capacidadPiso"> <h6>Capacidad Minima</h6></label>
                <input placeholder="Capacidad Menor" type="number" id="capacidadPiso" name="capacidadPiso" title="Numero entero" >

                <label class="col-form-label" for="capacidadTecho"> <h6>Capacidad Maxima</h6></label>
                <input placeholder="Capacidad Mayor" type="number" id="capacidadTecho" name="capacidadTecho" title="Numero entero" >
                
                <br>
                <br>
                <button class="btn btn-primary" type="submit">Filtrar</button>
            </form>
        </div>

        <h1>Lista de Servicios Básicos</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Costo</th>
                    <th>Hora Apertura</th>
                    <th>Hora Cierre</th>
                </tr>
            </thead>
            <th:block th:each="servicioBasico : ${serviciosBasicos}">
                <tr>
                    <td th:text="${servicioBasico.id}"></td>
                    <td th:text="${servicioBasico.nombre}"></td>
                    <td th:text="${servicioBasico.capacidad}"></td>
                    <td th:text="${servicioBasico.costo}"></td>
                    <td th:text="${servicioBasico.hora_apertura}"></td>
                    <td th:text="${servicioBasico.hora_cierre}"></td>
                    <td>
                        <a th:href="@{/servicios-basicos/{id}/edit(id=${servicioBasico.id})}">Editar</a>
                        <br>
                        <a th:href="@{/servicios-basicos/} + ${servicioBasico.id} + '/delete'"
                        onclick="return confirm('¿Estás seguro de querer eliminar este servicio básico?')">
                        Eliminar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div class="boton-container">
            <a th:href="@{/}" class="btn btn-primary">Volver atras</a>
            <a th:href="@{/servicios-basicos/new}" class="btn btn-primary">Añadir Servicio</a>
        </div>
        <br>
        <div class="container mx-auto">
            <a th:href="@{/servicios-basicos/restaurantes-bares}" class="boton-ancho btn btn-primary">Restaurantes y Bares</a>
            <a th:href="@{/servicios-basicos/salas}" class="boton-ancho btn btn-primary">Salas</a>
            <a th:href="@{/servicios-basicos/gimnasios}" class="boton-ancho btn btn-primary">Gimnasios</a>
            <a th:href="@{/servicios-basicos/tiendas}" class="boton-ancho btn btn-primary">Tiendas</a>
            <a th:href="@{/servicios-basicos/piscinas}" class="boton-ancho btn btn-primary">Piscinas</a>
            <a th:href="@{/servicios-basicos/lavanderias}" class="boton-ancho btn btn-primary">Lavanderias</a>
            <a th:href="@{/servicios-basicos/spas}" class="boton-ancho btn btn-primary">SPA'S</a>
        </div>
    </div>
</body>
</html>