<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Servicio Plan</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form action="#" th:action="@{'/planes/'+${planId}+'/servicios/'+${servicioBasicoId}+'/edit/save'}" th:object="${plan}" method="post">
        <div th:replace="~{fragments/servicioPlanForm :: servicioPlanForm(titulo='Editar servicio plan', crear=false)}"></div>      
    </form>
</body>
</html>