<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Servicio Basico</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form action="#" th:action="@{/servicios-basicos/{id}/edit/save(id=${servicioBasico.id})}" method="post">
        <div th:replace="~{fragments/servicioBasicoForm :: servicioBasicoForm(titulo='Editar Servicio Basico', crear=false)}"></div>      
    </form>
</body>
</html>
