<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tienda</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form action="#" th:action="@{/servicios-basicos/tiendas/{id}/edit/save(id=${tienda.pk.id.id})}" method="post">
        <div th:replace="~{fragments/tiendaForm :: tiendaForm(titulo='Editar Tienda', crear=false)}"></div>      
    </form>
</body>
</html>