<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <style>
        .boton-container {
           display: flex;
           justify-content: space-between;
           width: 100%;
        }
    
        button {
           flex: 1; 
           padding: 10px; 
        }
        .uniform-div{
            width: auto;
            margin-left: auto; 
            margin-right: auto; 
            border: 1px solid #ccc; 
            padding: 20px; 
        }
        </style>
</head>
<body>
    <div>
        <h1>Lista de Usuarios</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Documento</th>
                    <th>Tipo de Documento</th>
                    <th>Nombre Completo</th>
                    <th>Correo Electronico</th>
                    <th>Hotel</th>
                    <th>Tipo De Usuario</th>
                    <th>Consumo Productos</th>
                    <th>Consumo Servicios</th>
                </tr>
            </thead>
                <tr>
                    <td th:text="${usuario.documento}"></td>
                    <td th:text="${usuario.tipoDocumento}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.correoElectronico}"></td>
                    <td th:text="${usuario.Hotel_id.nombre}"></td>
                    <td th:text="${usuario.TipoUsuario_id.nombre}"></td>
                    <td th:text="${productos}"></td>
                    <td th:text="${consumos}"></td>
                    <td>
                        <a th:href="@{usuarios/{id}/edit(id=${usuario.documento})}">Editar</a>
                        <br>
                        <a th:href="@{/usuarios/} + ${usuario.documento} + '/delete'"
                        onclick="return confirm('¿Estás seguro de querer eliminar este usuario?')">
                        Eliminar
                        </a>                  
                    </td>
                </tr>
        </table>
        <div class="boton-container">
            <a th:href="@{/usuarios}" class="btn btn-primary">Volver atras</a>
            <a th:href="@{usuarios/new}" class="btn btn-primary">Añadir Usuario</a>
        </div>
    </div>
</body>
</html>